<% begin %>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title><%= "Tweets for #{current_user.screen_name}" %></title>
    <description><%= "Tweets for #{current_user.screen_name}" %></description>
    <% @tweets.each do |tweet| %>
    <item>
      <title><%= "#{screen_name(tweet)}#{suffix(tweet)}" %></title>
      <% if direct_message?(tweet) %>
      <link><%= 'http://twitter.com/#inbox' %></link>
      <% else %>
      <link><%= "http://twitter.com/#{screen_name(tweet)}/status/#{id(tweet)}" %></link>
      <% end %>
      <guid><%= "twitter2rss_#{id(tweet)}" %></guid>
      <description>
        <![CDATA[<%= raw "#{avatar(tweet)}#{formatted(tweet)}" %>]]>
      </description>
      <pubDate><%= pub_date(tweet) %></pubDate>
    </item>
    <% end %>
  </channel>
</rss>
<% rescue Exception => e %>
<%= e.message %>
<%= e.backtrace.join("\n") %>
<% end %>