<h1>Listing members</h1>

<table>
  <tr>
    <th>Twitter</th>
    <th>Screen name</th>
    <th>Token</th>
    <th>Secret</th>
    <th>Profile image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.twitter_id %></td>
    <td><%= member.screen_name %></td>
    <td><%= member.token %></td>
    <td><%= member.secret %></td>
    <td><%= member.profile_image_url %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
